myWebsiteStyleSheet.css


.textcontainer{
   
    display:flex;
    width: .25vw;
    height: .25vh;
    flex-direction: row;
    flex-wrap:wrap;
    float:left;
  
    justify-content:space-around;
    text-align:center;
    

}

.imagecontainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  float: clear;
  width: .25vw;
  height: .25vh;
  overflow: hidden;
  
}

.footercontainer{
    display: flex;
    background-color: black;
    justify-content: baseline;
    align-items: center;
    padding-top: .10vh;
    padding-bottom: .10vw;
  
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #green;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #555;
    color: white;
  }


  h1{
    color: navy;
    text-align: center;
    padding-left:25%;
    padding-right:25%;
    padding-top: 10px;
    font-size: 70px;
    
    }
    h2{
    color: olive;
    font-size: 50px;
    font-family: sans-serif;
    }
    h3{
    color:olive;
    font-size: 40px;
    font-family: sans-serif;
    }
    h4{
    color: olive;
    font-size: 30px;
    font-family: sans-serif;
    }
    h5 {
    color: olive;
    font-size: 24x;
    font-family: "Europa", san-serif;
    }
    h6{ 
    color:olive;
    font-size: 20x;
    font-family: sans-serif;
    }
    p1 {
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    }
    p2 {
    color: olive;
    font-size: 16px;
    }
    p3 {
    color: black;
    font-size: 14px;
    }
    p4{
    color: black;
    font-size: 10px;
    }
    