myWebsiteStyleSheet.css

.container{
   
    border-color:20px blue;
    width: 25vw;
    
    
   
    
    /*add in div box information
    ghksgh */ 
    

}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #darkgreen;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #555;
    color: white;
  }



h1{
    color: navy;
    text-align: center;
    padding-left:25%;
    padding-right:25%;
    padding-top: 10px%;
    padding-bottom: 10px%;
    font-size: 30;
    font-family: lucinda;

}

h2{
    color: olive;
    font-size: 26px;
    font-family: sans-serif;
}

h3{
    color:burlywood;
    font-size: 24px;
    font-family: sans-serif;
}

h4{
    color: burlywood;
    font-size: 22px;
    font-family: sans-serif;
}

p1 {
    color: olive;
    font-size: 14px;
    font-family: sans-serif;
}

p2 {
    color: olive;
    font-size: 10px;
}
